{
  "presets": ["@babel/preset-env", "@babel/preset-react"],
  "plugins": [
    "@babel/plugin-proposal-class-properties",
    "@babel/plugin-transform-regenerator",
    "css-modules-transform"
  ],
  "env": {
    "server": {
      "plugins": [
        "@babel/plugin-proposal-class-properties",
        "@babel/plugin-transform-regenerator",
        "css-modules-transform"
      ]
    }
  }
}
