{
  "presets": [["@babel/preset-env"], "@babel/preset-react"],
  "plugins": [
    "@babel/plugin-proposal-class-properties",
    "@babel/plugin-transform-regenerator",
    "react-hot-loader/babel",
    [
      "@babel/plugin-transform-runtime",
      {
        "regenerator": true
      }
    ]
  ],
  "env": {
    "server": {
      "plugins": [
        "@babel/plugin-proposal-class-properties",
        "@babel/plugin-transform-regenerator",
        [
          "@babel/plugin-transform-runtime",
          {
            "regenerator": true
          }
        ]
      ]
    }
  }
}
