html {
  font-size: 62.5%; }

body {
  font-family: Helvetica, Arial, sans-serif;
  font-size: 1.6rem; }

button {
  cursor: pointer; }

button:disabled {
  cursor: default; }

.brand-logo {
  margin-left: 5%; }

.header-right {
  margin-right: 5%; }

.header-right > li > a {
  font-size: 1.6rem; }
