@import '../../assets/stylesheets/breakpointMixins';

.cardContainer {
  transition-duration: 0.2s;
  transition-property: box-shadow, transform;
  transition-timing-function: ease-in-out;

  &:hover {
    box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.2);
    transform: translate(-1%, -2%);
  }

  &:active {
    box-shadow: inset 2px 2px 2px rgba(0, 0, 0, 0.4), 0 0 1px rgba(0, 0, 0, 0);
    transform: translate(0%, 0%);
  }

  @include tablet {
    margin-right: 45px;
    width: calc((100% - 90px) / 2);
    display: inline-block;
  }

  @include medium-desktop {
    margin-right: 30px;
    width: calc((100% - 60px) / 3);
  }

  &:nth-of-type(3n + 3) {
    @include medium-desktop {
      margin-right: 0px;
    }
  }

  p {
    font-size: 1.3rem;
  }

  .jobAttribute {
    color: #718096;
  }

  .agencyHeader {
    .jobAttribute {
      border-bottom: 0.1rem solid #000;
      font-size: 1.9rem;
    }
  }

  .civilServiceTitle {
    .jobAttribute {
      text-transform: capitalize;
    }
  }
}

.jobListingURL {
  text-decoration: none;
  color: inherit;
}
